/* Navigation */
#mainnav .social{
    display: none;
}

#mainnav .container{
    grid-template-columns: 1fr;
    grid-gap: 1.2rem;
}

#mainnav ul,
#mainnav .logo{
    justify-self: center;
}

#mainnav ul li a{
    padding: 0.5rem;
}

#homearticles .articlescontainer{
    grid-template-columns: repeat(2,1fr);
}

#homearticles .articlescontainer > *:first-child,
#homearticles .articlescontainer > *:last-child{
    grid-template-columns: 1fr;
    grid-column: 1;
}


@media(max-width:600px){
    /* Stack Grid Items */
    #showcase .showcasecontainer,
    #homearticles .articlescontainer,
    #mainfooter .footercontainer{
        grid-template-columns: 1fr;
    }

    #mainfooter .footercontainer > *:last-child{
        grid-column: 1;
    }
    #mainfooter .footercontainer > *:first-child,
#mainfooter .footercontainer > *:nth-child(2){
    border-bottom: #444 dotted 1px;
    padding-bottom: 1rem;
    }

    .pagecontainer{
        grid-template-columns: 1fr;
        text-align: center;
    }

    .pagecontainer > *:first-child{
        grid-row: 1;
    }

    .lheading{
        font-size: 2rem;
    }
}


