:root{
    --primary-color: #c72727;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --max-width: 1100px;
}

.category{
    --sports-color: #f99500;
    --ent-color: #a66bbe;
    --tech-color: #009cff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    background: var(--light-color);
}

a{
    color: #333;
    text-decoration: none;
}

ul{
    list-style: none;
}

p{
    margin: .5rem 0;
}

img{
    width: 100%;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Staatliches', cursive;
    margin-bottom: .55rem;
    line-height: 1.3;
}

/* Utility classes */
.container{
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.category{
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.categorysports{ background: var(--sports-color);}
.categoryent{ background: var(--ent-color);}
.categorytech{ background: var(--tech-color);}

.btn{
    display: inline-block;
    border: none;
    background: var(--dark-color);
    color: #fff;
    padding: 0.5rem 1.5rem;
}

.btnlight{ background: var(--light-color);}
.btnprimary{ background: var(--primary-color);}
.btnsecondary{ background: var(--secondary-color);}

.btnblock{
    display: block;
    width: 100%;
    text-align: center;
}

.btn:hover{
    opacity: 0.9;
}

.card{
    background: #fff;
    padding: 1rem;
}

.bgdark{
    background: var(--dark-color);
    color: #fff;
}
.bgprimary{
    background: var(--primary-color);
    color: #fff;
}
.bgsecondary{
    background: var(--secondary-color);
    color: #fff;
}

.bgdark h1,
.bgdark h2,
.bgdark h3,
.bgdark a,
.bgprimary h1,
.bgprimary h2,
.bgprimary h3,
.bgprimary a,
.bgsecondary h1,
.bgsecondary h2,
.bgsecondary h3,
.bgsecondary a {
    color: #fff;
}



.py1{padding: 1.5rem 0;}
.py2{padding: 2rem 0;}
.py3{padding: 3rem 0;}

.p1{padding: 1.5rem;}
.p2{padding: 2rem;}
.p3{padding: 3rem;}

.lheading{
    font-size: 3rem;
}

.list li{
    padding: .5rem 0;
    border-bottom: #555 dotted 1px;
    width: 90%;
}

.list li a:hover{
    color: var(--primary-color) !important;
}

/* Inner page grid container */
.pagecontainer{
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
}

.pagecontainer >*:first-child{
    grid-row: 1/span 3;
}

/* Navigation */
#mainnav{
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 2;
}

#mainnav .container{
    display: grid;
    grid-template-columns: 6fr 3fr 2fr;
    padding: 1rem;
    align-items: center;
}

#mainnav .logo{
    width: 180px;;
}

#mainnav ul{
    justify-self: end;
    display: flex;
}

#mainnav ul li a{
    padding: .75rem;
    font-weight: bold;
}

#mainnav ul li a.current{
    background: var(--primary-color);
    color: #fff;
}

#mainnav ul li a:hover{
    background: var(--light-color);
    color: var(--dark-color);
}

#mainnav .social{
    justify-self: center;
}

#mainnav .social i{
    color: #777;
    margin-right: .5rem;
}

/* Showcase */
#showcase{
    color: #fff;
    background: #333;
    padding: 2rem;
    position: relative;
}

#showcase:before{
    content: '';
    background: url('../img/featured.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#showcase .showcasecontainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#showcase .showcasecontent{
    z-index: 1;
}

#showcase .showcasecontent p{
    margin-bottom: 1rem;
}

/* Home Articles */
#homearticles .articlescontainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#homearticles .articlescontainer > *:first-child,
#homearticles .articlescontainer > *:last-child{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 /span 2;
}

#homearticles .articlescontainer > *:last-child{
    grid-column: 2/span 2;
}

#article .meta{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #eee;
    padding: 0.5rem;
}

#article .meta .category{
    margin-top: 0.4rem;
}

/* Footer */
#mainfooter{
    background: var(--dark-color);
    color: #fff;
}

#mainfooter img{
    width: 150px;
}

#mainfooter a{
    color: #fff;
}

#mainfooter .footercontainer{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1.5rem;
}

#mainfooter .footercontainer > *:last-child{
    background: #444;
    grid-column: 1/span 4;
    padding: .5rem;
    text-align: center;
    font-size: 0.75rem;
}

#mainfooter .footercontainer input[type='email']{
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#mainfooter .footercontainer input[type='submit']{
    width: 90%;
}